// Import Modules
@import 'core/normalize';
@import 'core/base';

#toggle-hamburger
#toggle-text-limiter
  display none
  position fixed
  top 0
  left 0

.content-wrapper
  max-width 980px
  margin 0 auto
  padding 0 remify(gutter)

:global .page
  padding 20px

body
  background-color $smoke
  font-size 16px

.hello
  background rgb(0,0,0)

.world
  color blue
