// Import Modules
@import 'core/normalize';
@import 'core/base';

#some-id
  position fixed
  width 100%
  top 0
  left 0

.content-wrapper
  max-width 980px
  margin 0 auto
  padding 0 remify(gutter)

:global .page
  padding gutter * 2

body
  background-color $smoke
  font-size 16px

.hello
  background rgb(0,0,0)

.world
  color blue

.word-x
  @extend .world
  font-size 80px

// Styling on warning for users on IE7 or below
.browsehappy
  text-align center
  margin 0
  background #fff8e2
  color #000
  padding 0.5em 0


+above(desk-bk)
  body
    background-color red

  .world
    background-color yellow

