// Import Modules
@import 'core/base';

desk-bk = 980px
gutter = 10px

#toggle-hamburger
#toggle-text-limiter
  display none
  position fixed
  top 0
  left 0

.pseudo
  content " "
  font-size 0
  display block

.clear
  &:before, &:after
    @extend .pseudo
    clear both

.content-wrapper
  max-width 980px
  margin 0 auto
  padding 0 remify(gutter)

:global .page
  padding 20px

body
  background-color $smoke
  font-size 16px

.hello
  background green

.world
  color orange

@import '../_modules/link/link';