//colors
$blue = #0e7da9
$light-blue = #37a6cf
$green = #8dd400
$red = #d44c4d
$pink = #f96ec4
$gray = #626262
$light-gray = #b2b1b1
$smoke = #f3f3f3
$yellow = #ffb400

//gutters
gutter = 16px

//breakpoints, mobilefirst
tabl-bk = 640px // normal tablet
desk-bk = 980px // normal desk
desk-lg-bk = 1280px // destop large
desk-hg-bk = 1620px // desktop huge
desk-in-bk = 1940px // insane desktop