// Import Modules
@import '../../_styles/core/base';

b
strong
  font-weight bolder

.c-text
  text-decoration line-through
  text-align center
  @extend .clear
  position relative

  &:after
    content ':)'
    display inline-block
    font-size 80px


