extends _layouts/layout

block content
  //main.page(id=[css.someId], class=[css.hello, css.world, css.cText, css.wordX])

  section.foo.hello.world.word-x.c-text.c-text--modifier.c-8text#some-id
    span.c-text--9gag  hello world!
    span.c-text--other  hello world!
